{{!-- js for this page --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{!-- sweet alert --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
  $(document).ready(function () {
    // When we begin, assume no images are loaded.
    var imagesLoaded = 0;
    // Count the total number of images on the page when the page has loaded.
    var totalImages = $("img").length;

    // After an image is loaded, add to the count, and if that count equals the
    // total number of images, fire the allImagesLoaded() function.
    $("img").on("load", function (event) {
      imagesLoaded++;
      if (imagesLoaded == totalImages) {
        allImagesLoaded();
      }
    });

    function allImagesLoaded() {
      console.log("ALL IMAGES LOADED");
    }
    //all image choose in drvier
    var arr_choose_image = [];
    $(".side-choose-image").hide();
    $(".choose-image-from-gallery").click(function () {
      $(".side-choose-image").slideDown(300);
    })
    $(".cancel-choose-image-gallery").click(function () {
      $(".side-choose-image").slideUp(300);
    })
    $(".btn-cancel-choose-image").hide();
    $(".btn-choose-image").click(function () {
      $(this).hide();
      let idImage = $(this).attr('data-id-image');
      $(".image-from-driver[data-id-image=" + idImage + "]").css({ 'border': "solid 5px green" })
      $(".btn-cancel-choose-image[data-id-image=" + idImage + "]").show();
      let urlImage = $(this).attr('data-url-image');
      arr_choose_image.push({ idImage, urlImage })
      $(".contain-image-choosen").append('<img class="image-choosen" data-id-image= ' + idImage + ' src=' + urlImage + '>')
      console.log(arr_choose_image)

    })
    $(".btn-cancel-choose-image").click(function () {
      $(this).hide();
      let idImage = $(this).attr('data-id-image');
      $(".btn-choose-image[data-id-image=" + idImage + "]").show();

      $(".image-from-driver[data-id-image=" + idImage + "]").css({ 'border': "solid 0px green" })
      $(".image-choosen[data-id-image=" + idImage + "]").remove();
      for (let i = 0; i < arr_choose_image.length; i++) {
        if (arr_choose_image[i].idImage === idImage) {
          arr_choose_image.splice(i, 1);
        }
      }
      console.log(arr_choose_image)
    })

    //call ajax to add new project
    $(".btn-add-project").click(function () {
      let nameProject = $(".name-project").val()
      let description_project = $(".description-project").val();
      let cate_project = $(".cate-project").val();
      if (nameProject == "" || description_project == "" || cate_project == "" || arr_choose_image.length == 0) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Đang điền thiếu thông tin cần thiết của một dự án!',
          footer: '<a href="">Thử lại và nếu không được liên hệ 0868617603?</a>'
        })
      } else {
        var form_project = new FormData();
        form_project = {
          'nameProject': nameProject,
          'imageProject': arr_choose_image,
          'descriptionProject': description_project,
          'cateProject': cate_project,
        };
        $.ajax({
          url: '/admin/store-project',
          type: 'POST',
          data: form_project,
          dataType: "json",
          encode: true,
        }).done(function (data) {
          if (data == 'success') {
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'Thêm dự án ' + nameProject + ' thành công',
              showConfirmButton: false,
              timer: 1500
            })
          }
        });

      }
    })
    //ajax delete cate project
    $(".btn-del-cate-project").click(function () {
      Swal.fire({
        title: 'Bạn có chắc chắn muốn xóa loại doanh mục này?',
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: 'Chắc chắn',
        denyButtonText: `Hủy bỏ`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          let id_cate_project = new FormData();
          let var_cate_project = $(this).attr('data-id-cate');
          id_cate_project = { '_id': $(this).attr('data-id-cate') };
          $.ajax({
            url: '/admin/delete-category-project',
            type: 'POST',
            data: id_cate_project,
            dataType: "json",
            encode: true,
          }).done(function (data) {
            if (data == 'success') {
              $(".tr-cate-gory-project[data-id-cate =" + var_cate_project + "]").remove();
              Swal.fire('Xóa thành công!', '', 'success')
            } else {
              console.log(data)
            }
          });
        } else if (result.isDenied) {
          Swal.fire('Chưa thực hiện thao tác', '', 'info')
        }
      })

    })
    //ajax add new cate project 
    $(".btn-add-new-cate-project").click(function () {
      let nameCateProject = $(".nameCateProject").val()
      let descriptionCate = $(".descriptionProject").val();
      if (nameCateProject == "" || descriptionCate == "") {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Tên danh mục hoặc mô tả danh mục đang thiếu, vui lòng kiếm tra lại!',
          footer: '<a href="">Nếu thử lại mà không được vui lòng liên hệ 0868617603?</a>'
        })
      } else {
        let formDataCateProject = new FormData();
        formDataCateProject = { 'nameProject': nameCateProject, 'descriptionProject': descriptionCate }
        $.ajax({
          url: '/admin/store-category-project',
          type: 'POST',
          data: formDataCateProject,
          dataType: "json",
          encode: true,
        }).done(function (data) {
          if (data == 'success') {
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'Tạo danh mục dự án thành công !',
              showConfirmButton: false,
              timer: 1500
            })
          } else {
            console.log(data)
          }
        });
      }
    })
    //ajax delete project
    $(".btn-delete-project").click(function () {
      Swal.fire({
        title: 'Bạn có chắc là muốn xoá loại dự án này không?',
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: 'Chắc chắn',
        denyButtonText: `Huỷ bỏ`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          let idProject = new FormData();
          idProject = { '_id': $(this).attr('data-id-project') }
          $.ajax({
            url: '/admin/delete-project',
            type: 'POST',
            data: idProject,
            dataType: "json",
            encode: true,
          }).done(function (data) {
            if (data == 'success') {
              Swal.fire('Xóa thành công!', '', 'success')
            } else {
              console.log(data)
            }
          });
        } else if (result.isDenied) {
          Swal.fire('Thao tác chưa được thực hiện', '', 'info')
        }
      })

    })
    //ajax edit cate project
    $(".btn-edit-cate-project").click(function () {
      let formUpdateCateProject = new FormData();
      let idCateProject = $(this).attr('data-id-cate');
      let vlNameCate = $(".vl-name-project[data-id-cate=" + idCateProject + "]").text()
      let vlDescriptionCate = $(".vl-description-cate-project[data-id-cate=" + idCateProject + "]").text()
      Swal.fire({
        title: 'Chi tiết dự án',
        html: `  <div class="form-group">
              <label>Tên Loại Dự Án</label>
              <input type="text" name="nameCateProject" class="form-control editNameCateProject" value="`+ vlNameCate + `" placeholder="Tên dự án" />
            </div>
            <div class="form-group">
              <label for="exampleTextarea1">Mô Tả Loại Dự Án</label>
              <textarea class="form-control editDescriptionProject" name="descriptionProject" id="exampleTextarea1"
                rows="44" style="height: 100px; width: 300px">`+ vlDescriptionCate + `</textarea>
            </div>`,
        confirmButtonText: 'Cập nhật',
        focusConfirm: false,
        preConfirm: () => {
          const editNameCateProject = Swal.getPopup().querySelector('.editNameCateProject').value
          const editDescriptionProject = Swal.getPopup().querySelector('.editDescriptionProject').value
          if (!editNameCateProject || !editDescriptionProject) {
            Swal.showValidationMessage(`Vui lòng nhập 2 trường này !!!`)
          } else {
            formUpdateCateProject = {
              '_id': idCateProject,
              'obj': {
                'nameProject': editNameCateProject,
                'descriptionProject': editDescriptionProject
              },
            }
            $.ajax({
              url: '/admin/edit-cate-project',
              type: 'POST',
              data: formUpdateCateProject,
              dataType: "json",
              encode: true,
            }).done(function (data) {
              if (data == "success") {
                Swal.fire({
                  position: 'top-end',
                  icon: 'success',
                  title: 'Cập nhật danh mục thành công',
                  showConfirmButton: false,
                  timer: 1500
                })
                return "success"
              } else {
                return data;
              }
            });
          }
        }
      }).then((result) => {
        //cập nhật thành công
        if (result == "success") {

        } else {
          console.log(result);
        }
      })
    })
    //ajax edit project
    var arr_edit_img_project = [];
    var idProject;
    $(".btn-edit-project").click(function () {
      idProject = $(this).attr('data-id-project');
      let loader = true;
      //get detail information project
      $.ajax({
        async: false,
        url: '/admin/detail-project',
        type: 'POST',
        data: { '_id': idProject },
        dataType: "json",
        encode: true,
      }).done(function (data) {
        if (data != 'error' || data != "") {
          let nameProject = data.nameProject;
          let descriptionProject = data.descriptionProject;
          let idCateProject = data.cateProject._id;
          let nameCateProject = data.cateProject.nameProject;
          arr_edit_img_project = data.imageProject;
          $(".side-edit-project").css('display', 'block');
          $(".vl-detail-name-project").val(nameProject)
          $('.vl-detail-cate-project option[value=' + idCateProject + ']').attr('selected', 'selected');
          $(".vl-detail-descript-project").val(descriptionProject);
          let html_arr_img_project = ""
          for (let i = 0; i < arr_edit_img_project.length; i++) {
            console.log(arr_edit_img_project[i].urlImage)
            html_arr_img_project += (`<div class="item-img update-desige-item" data-id-design=` + arr_edit_img_project[i].idImage + `>
                  <img
                    src="https://drive.google.com/uc?id=`+ arr_edit_img_project[i].idImage + `"
                    alt="`+ arr_edit_img_project[i] + `">
                  <button type="button" class="btn btn-danger btn-rounded btn-sm btn-icon btn-del-update-design" data-id-design=`+ arr_edit_img_project[i].idImage + `>
                    <i class="mdi mdi-delete"></i>
                  </button>
                </div>`
            );
          }
          $(".contain-selected-image").html(html_arr_img_project);
          //delete update image design 
          updateDelDesign()
        }
      });

    })
    //function click to del choose image
    function updateDelDesign() {
      $(".btn-del-update-design").click(function () {
        console.log(12334);
        let html = ` <div class="pre-loading"><svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
  <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 20 20"
      to="360 20 20"
      dur="0.5s"
      repeatCount="indefinite"/>
    </path>
  </svg></div>`;
        let idUpdateImage = $(this).attr('data-id-design');
        $(".title-image-choos-before").html(html);
        $(".btn-save-update-project").removeClass('btn-primary').addClass('btn-outline-secondary');
        for (let i = 0; i < arr_edit_img_project.length; i++) {
          if (arr_edit_img_project[i].idImage === idUpdateImage) {
            arr_edit_img_project.splice(i, 1);
            $(".btn-edit-arr-image-project").click();
            console.log(1234)

            $(".update-desige-item[data-id-design=" + idUpdateImage + "]").remove();
            setTimeout(function () {
              $(".title-image-choos-before").html('Tất cả các ảnh đã chọn');
              $(".btn-save-update-project").removeClass('btn-outline-secondary').addClass('btn-primary');

            }, 2000)
            console.log(123);
          }
        }
        console.log(arr_edit_img_project);
      })
    }

    //update arr image project
    $(".btn-edit-arr-image-project").click(function () {
      $.ajax({
        async: false,
        url: '/admin/all-image-project',
        type: 'GET',
        dataType: "json",
        encode: true,
      }).done(function (data) {
        let html = ``;
        for (let i = 0; i < data.length; i++) {
          let same = false;
          for (let j = 0; j < arr_edit_img_project.length; j++) {
            if (arr_edit_img_project[j].idImage == data[i].id) {
              same = true
            }
          };
          if (same == true) {
            html += ` <div class="item-design n-choose-design design-active" data-id-design= ` + data[i].id + `>
                  <img src="https://drive.google.com/uc?id=`+ data[i].id + `" alt="">
                </div>`;
          } else {
            html += ` <div class="item-design n-choose-design" data-id-design= ` + data[i].id + `>
                  <img src="https://drive.google.com/uc?id=`+ data[i].id + `" alt="">
                </div>`;
          }

        }
        $(".contain-all-design").html(html)
        $(".n-choose-design").click(function () {
          let idDesign = $(this).attr('data-id-design');
          let appear = false;
          for (let j = 0; j < arr_edit_img_project.length; j++) {
            if (arr_edit_img_project[j].idImage == idDesign) {
              appear = true
            }
          };
          if (appear == true) {
            Swal.fire('Ảnh này đã được chọn từ lúc trước !!!');

          } else {
            $(this).addClass('design-active');
            let html_img_project = (`<div class="item-img update-desige-item" data-id-design=` + idDesign + `>
                  <img
                    src="https://drive.google.com/uc?id=`+ idDesign + `"
                    alt="">
                  <button type="button" class="btn btn-danger btn-rounded btn-sm btn-icon btn-del-update-design" data-id-design=`+ idDesign + `>
                    <i class="mdi mdi-delete"></i>
                  </button>
                </div>`
            );
            $(".contain-selected-image").append(html_img_project);
            arr_edit_img_project.push({
              idImage: idDesign,
              urlImage: `https://drive.google.com/uc?id=` + idDesign + ` `
            })

            console.log("12312", arr_edit_img_project);
            updateDelDesign();

          }
        })

      })
    })

    //get new value next to update
    $(".btn-save-update-project").click(function () {
      let formUpdateProject = new FormData();
      let n_name_project = $(".vl-detail-name-project").val();
      let n_id_cate_project = $(".vl-detail-cate-project").val();
      let n_detail_project = $(".vl-detail-descript-project").val();

      formUpdateProject = {
        '_id': idProject,
        'obj': {
          'nameProject': n_name_project,
          'descriptionProject': n_detail_project,
          'cateProject': n_id_cate_project,
          'imageProject': arr_edit_img_project
        }
      }
      if (arr_edit_img_project.length == 0) {
        Swal.fire({
          icon: 'Lỗi',
          title: 'Chưa có ảnh design',
          text: 'Phải có ít nhất một ảnh trong 1 dự án!',
        })
      }
      else if (n_name_project == "" || n_detail_project == "" || n_id_cate_project == "") {
        Swal.fire({
          icon: 'Lỗi',
          title: 'Các thông tin chưa được điền đầy đủ',
          text: 'Kiểm tra lại!',
        })
      } else {
        Swal.fire({
          title: 'Bạn có chắc muốn cập nhật sản phẩm này?',
          showDenyButton: true,
          showCancelButton: true,
          confirmButtonText: 'Chắc chắn',
          denyButtonText: `Huỷ bỏ`,
        }).then((result) => {
          /* Read more about isConfirmed, isDenied below */
          if (result.isConfirmed) {
            $.ajax({
              async: false,
              url: '/admin/edit-project',
              type: 'POST',
              data: formUpdateProject,
              dataType: "json",
              encode: true,
            }).done(function (data) {
              if (data == 'success') {
                Swal.fire('Cập nhật thành công!', '', 'success');
                $(".side-edit-project").css('display', 'none');
              } else {
                Swal.fire('Lỗi!', '', 'info');
              }
            })
          } else if (result.isDenied) {
            Swal.fire('Thao tác chưa được thực hiện', '', 'info')
          }
        })
      }
    })

    $(".btn-close-side-eidt-project").click(function () {
      Swal.fire({
        title: 'Khi thoát mọi thay đổi chưa lưu sẽ biến mất, bạn có chắc muốn thoát?',
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: 'Chắc chắn',
        denyButtonText: `Huỷ bỏ`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          $(".side-edit-project").hide();
          $(".contain-all-design").html('')
          Swal.fire('Chưa được cập nhật', '', 'info')
        } else if (result.isDenied) {
        }
      })
    })

    //function get by ajax
    function getInformationAjax() {
      
    }
  });
</script>
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Dự Án</h4>
                <p class="card-description">
                  Đây là bảng:
                  <code>Thống kê các dự án của công ty.</code>
                </p>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          Tên Dự Án
                        </th>
                        <th>
                          Tên Loại Dự Án
                        </th>
                        <th>
                          Ngày tạo
                        </th>
                        <th>
                          Ngày cập nhật
                        </th>
                        <th>
                          Thao tác
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#all_prod}}
                      <tr>
                        <td class="ed-name-project" value={{this.nameProject}}>
                          {{this.nameProject}}
                        </td>

                        <td class="ed-cate-project" value={{this.cateProject._id}}>
                          {{this.cateProject.nameProject}}
                        </td>
                        <td>
                          <p style=" width: 100px; overflow: hidden ;  text-overflow: ellipsis ;white-space: nowrap;">
                            {{this.createdAt}}
                          </p>
                        </td>
                        <td>
                          <p style=" width: 100px; overflow: hidden ;  text-overflow: ellipsis ;white-space: nowrap;">
                            {{this.updatedAt}}</p>
                        </td>
                        <td>
                          <button type="button" data-id-project={{this._id}}
                            class="btn btn-delete-project btn-danger btn-sm btn-icon-text"><i
                              class="mdi mdi-delete"></i></button>
                          <button type="button" class="btn btn-success btn-edit-project  btn-sm btn-icon-text"
                            data-id-project={{this._id}}><i class="mdi mdi-lead-pencil"></i></button>
                          <button type="button" class="btn btn-warning btn-sm btn-icon-text"><i
                              class="mdi mdi-eye"></i></button>
                        </td>
                      </tr>
                      {{/all_prod}}


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <form action="">
          <div class="card-body">
            <h4 class="card-title">Thêm Dự Án</h4>
            <div class="form-group">
              <label>Tên Dự Án</label>
              <input type="text" class="form-control name-project" placeholder="Tên dự án" />
            </div>
            <div class="form-group">
              <label>Chọn Loại Dự Án</label>
              <select class="js-example-basic-single w-100 cate-project">
                {{#all_cate_prod}}
                <option value={{this._id}} str-value={{this.nameProject}}>{{this.nameProject}}</option>
                {{/all_cate_prod}}
              </select>
            </div>
            <div class="form-group">
              <label>Chọn Ảnh Từ Driver</label>
              <button type="button" class="btn btn-outline-danger btn-icon-text choose-image-from-gallery">
                <i class="ti-upload btn-icon-prepend"></i>
                Thư viện driver
              </button>
              <div class="contain-image-choosen">
              </div>
            </div>
            <div class="form-group">
              <label for="exampleTextarea1">Mô Tả Dự Án</label>
              <textarea class="form-control description-project" id="exampleTextarea1" rows="44"
                style="height: 100px;"></textarea>
            </div>
            <button type="button" class="btn btn-success btn-add-project btn-icon-text">
              <i class="ti-upload btn-icon-prepend"></i>
              Đăng
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <form method="POST" action="">
          <div class="card-body">
            <h4 class="card-title">Thêm Loại Dự Án</h4>
            <div class="form-group">
              <label>Tên Loại Dự Án</label>
              <input type="text" name="nameCateProject" class="form-control nameCateProject" placeholder="Tên dự án" />
            </div>
            <div class="form-group">
              <label for="exampleTextarea1">Mô Tả Loại Dự Án</label>
              <textarea class="form-control descriptionProject" name="descriptionProject" id="exampleTextarea1"
                rows="44" style="height: 100px;"></textarea>
            </div>
            <button type="button" class="btn btn-success btn-add-new-cate-project btn-icon-text">
              <i class="ti-upload btn-icon-prepend "></i>
              Đăng
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Loại Dự Án</h4>
                <p class="card-description">
                  Đây là bảng:
                  <code>Thống kê các dự án của công ty.</code>
                </p>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          ID
                        </th>
                        <th>
                          Tên Loại Dự Án
                        </th>

                        <th>
                          Số Lượng
                        </th>
                        <th>
                          Ngày tạo
                        </th>
                        <th>
                          Ngày cập nhật
                        </th>
                        <th>
                          Thao tác
                        </th>
                      </tr>
                    </thead>
                    <tbody class="tbl-all-cate-project">
                      {{#all_cate_prod}}
                      <tr class="tr-cate-gory-project" data-id-cate={{this._id}}>
                        <td class="py-1">
                          {{this._id}}
                        </td>
                        <td>
                          {{this.nameProject}}
                        </td>
                        <td style="display: none;" class="vl-name-project" data-id-cate={{this._id}}>
                          {{this.nameProject}}</td>

                        <td style="display: none;" class="vl-description-cate-project" data-id-cate={{this._id}}>
                          {{this.descriptionProject}}</td>

                        <td>
                          $ 77.99
                        </td>
                        <td>
                          {{this.createdAt}}
                        </td>
                        <td>
                          {{this.updatedAt}}
                        </td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm btn-icon-text"><i
                              class="mdi mdi-delete btn-del-cate-project" data-id-cate={{this._id}}></i></button>
                          <button type=" button" data-id-cate={{this._id}}
                            class="btn btn-edit-cate-project btn-success btn-sm btn-icon-text"><i
                              class="mdi mdi-lead-pencil"></i></button>
                          <button type="button" class="btn btn-warning btn-sm btn-icon-text"><i
                              class="mdi mdi-eye"></i></button>
                        </td>
                      </tr>
                      {{/all_cate_prod}}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .contain-all-design {
    margin-top: 10px;
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-bottom: 50px;
    cursor: pointer;
  }

  .contain-all-design>.item-design {
    margin-top: 5px;
    width: 100px;
    min-height: 100px;
    position: relative;
    margin-left: 5px;
  }

  .design-active {
    border: solid 5px #68ff2c;
    border-radius: 5px;
  }

  .contain-all-design>.item-design:hover {
    border: solid 5px #68ff2c;
    border-radius: 5px;
  }

  .contain-all-design>.item-design>img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
  }

  .contain-selected-image {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .contain-selected-image>.item-img {
    margin-left: 10px;
    width: 100px;
    min-height: 100px;
    margin-left: 10px;
    position: relative;
    border: solid 5px #764141;
    border-radius: 4px;
    padding-bottom: 10%;
    overflow: hidden;

  }

  .contain-selected-image>.item-img>button {
    position: absolute;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .contain-selected-image>.item-img>img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
  }


  .contain-image-choosen {
    display: flex;
    width: 250px;
    height: auto;
    flex-wrap: wrap;

  }

  .contain-image-choosen>img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .side-choose-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;

  }

  .side-choose-image>span {
    padding: 20px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .side-choose-image>p {
    padding: 20px;
  }

  .side-choose-image .contain-image-from-driver {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    height: 400px;
    overflow-y: scroll;
  }

  .side-choose-image .contain-image-from-driver>.item-image {
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20PX;
    position: relative;
  }

  .side-choose-image .contain-image-from-driver>.item-image>img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid 2px white;
  }

  .side-choose-image .contain-image-from-driver>.item-image>.desription-image {
    transition: 0.3s;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: white;
    bottom: -100%;
    display: none;
  }

  .side-choose-image .contain-image-from-driver>.item-image>.desription-image>b {
    font-size: 12px;
  }

  .side-choose-image .contain-image-from-driver>.item-image>.desription-image>a {
    font-size: 12px;
  }

  .side-choose-image .contain-image-from-driver>.item-image:hover>.desription-image {
    display: block;
    bottom: 0;
  }


  .side-edit-project {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    display: none;
  }
</style>
<div class="side-choose-image">
  <span>Chọn ảnh từ THƯ VIỆN DỰ ÁN</span>
  <button type="button" class="btn btn-danger  btn-sm cancel-choose-image-gallery">
    Đóng
  </button>
  <p>Tất cả các hình ảnh này được liên hết với tài khoản google driver đã được cấp</p>

  <div class="contain-image-from-driver">
    {{#imageDesign}}
    <div class="item-image">
      <img class="image-from-driver" data-id-image={{this.id}} src={{this.thumbnailLink}} alt="">
      <div class="desription-image">
        <b>{{this.name}}</b>
        <p>Dung lượng : {{this.size}} kb</p>
        <button type="button" class="btn btn-primary btn-sm btn-choose-image" data-id-image={{this.id}}
          data-url-image={{this.thumbnailLink}}>Chọn ảnh này vào dự án</button>
        <button type="button" class="btn btn-warning btn-sm btn-cancel-choose-image" data-id-image={{this.id}}
          data-url-image={{this.thumbnailLink}}>Huỷ chọn ảnh này</button>
      </div>
    </div>
    {{/imageDesign}}

  </div>
</div>
<div class="side-edit-project">
  <button type="button" class="btn btn-danger btn-close-side-eidt-project">Đóng</button>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Chỉnh sửa thông tin dự án</h4>
              <p class="card-description">
                Chỉ có người <code>Quản trị viên mới có thể </code> sử dụng được chức năng này<code></code>.
              </p>
              <div class="form-group">
                <label>Tên dự án</label>
                <input type="text" class="form-control form-control-lg vl-detail-name-project" placeholder="Tên dự án">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect3">Loại Dự Án</label>
                <select class="form-control form-control-sm vl-detail-cate-project" id="exampleFormControlSelect3">
                  {{#all_cate_prod}}
                  <option value={{this._id}} str-value={{this.nameProject}}>{{this.nameProject}}</option>
                  {{/all_cate_prod}}
                </select>
              </div>
              <div class="form-group">
                <label>Mô tả</label>
                <textarea class="form-control vl-detail-descript-project" id="exampleTextarea1" rows="4"
                  style="height: 50px"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-description">
                Ảnh đã chọn
              </p>
              <button type="button" class="btn btn-outline-danger btn-edit-arr-image-project btn-icon-text">
                <i class="ti-upload btn-icon-prepend"></i>
                Thêm ảnh khác
              </button>
              <button type="button" class="btn btn-primary btn-fw btn-save-update-project">Lưu thay đổi</button>
              <p class="title-image-choos-before">Tất cả các ảnh đã chọn lúc trước</p>
              <div class="contain-selected-image">



              </div>
              <p>Tất cả các ảnh đang có trong drive</p>
              <i style="color: red">Click vào Thêm Ảnh Khác để thêm các ảnh khác trong kho Drive</i>

              <div class="contain-all-design">

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>